@font-face {
    font-family: Proportional-Mono;
    src: url("Proportional-Mono.woff2");
}

@font-face {
    font-family: Lato;
    src: url("Lato-Regular.ttf");
}

@font-face {
    font-family: Lato-Bold;
    src: url("Lato-Bold.ttf");
}

* {
    padding: 0;
    margin: 0;

    font-family: Lato;
    font-size: 10px;

    -Webkit-user-select: none;
    user-select: none;
    -moz-user-select: none;
}

body {
    background: rgb(243, 243, 243);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#menu {
    /* Spacing */
    padding: 12px;

    margin: 12px;
    margin-top: 0px;

    /* Dimension */
    width: fit-content;
    height: fit-content;

    /* Style */
    background: white;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1);
}

.menu-container {
    height: 500px;
}

/* Create Point Button Styles */
.create-button {
    /* Spacing */
    padding: 4px;
    padding-top: 6px;
    padding-bottom: 8px;

    /* Dimension */
    width: 215px;

    /* Style */
    font-family: Lato-Bold;

    border: none;
    border-radius: 4px;

    color: white;


    cursor: pointer;
}



.create-button.point {
    background: linear-gradient(318deg, rgb(0, 123, 255) 0%, rgba(0,173,255,1) 100%);
    transition: 0.5s
}

.create-button.point:hover {
    box-shadow: 0 0 14px rgba(0, 173, 255, 0.5);
    transition: 0.5s;
}

.create-button.path {
    background: linear-gradient(318deg, rgb(255, 128, 0) 0%, rgb(255, 94, 0) 100%);
    transition: 0.5s;
}

.create-button.path:hover {
    box-shadow: 0 0 14px rgba(255, 128, 0, 0.5);
    transition: 0.5s;
}


.create-button.disabled {
    background: lightgray;
    cursor: not-allowed;
}

/* Point List Styles */
.list-item {
    /* Spacing */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    margin-top: 8px;
    margin-left: 10px;

    /* Style */
    font-size: 12px;
}

.list-item > span {
    cursor: default;
    width: 50px;
}

.input {
    /* Spacing */
    padding: 2px;
    padding-bottom: 4px;
    text-align: center;

    /* Dimension */
    width: 40px;

    /* Style */
    border: none;
    border: 2px solid lightgray;
    border-radius: 4px;

    

    background: rgba(211, 211, 211, 0.25);
}

.remove-button {
    /* Style */
    border: none;
    background: none;
    font-size: 16px;


    color: red;

    cursor: pointer;

    width: 32px;
    height: 32px;

    transform: scale(-1, 1);
    background: transparent;
    
    transition: 0.5s;
}

.remove-button:hover {
    text-shadow: 0 0 8px red;
    transition: 0.2s;
}

.add-point-button {

    width: 100%;

    font-style: bold;
    
    font-family: Lato-Bold;
    padding-top: 4px;

    border-color: rgb(76, 217, 100);
    background:rgba(76, 217, 99, 0.25);

    transition: 0.5s;
}

.add-point-button:hover {
    box-shadow: 0 0 14px rgba(76, 217, 99, 0.5);
    transition: 0.2s;
}

.path-point-item {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 4px;
    margin-top: 8px;
}

#dropdown-menu {
    box-shadow: 0px 24px 35px -10px rgba(0, 0, 0, 0.1);

    border-radius: 0px 0px 8px 8px;

    padding: 12px;
}

/* SVG Styles */
#container {
    /* Dimension */
    width: 500px;
    height: 500px;

    background: white;
    border-radius: 16px;

    box-shadow: 0px 0px 48px rgba(0, 0, 0, 0.1);
}

.disabled {
    background: lightgray;
    cursor: not-allowed;
}